name: Release
on:
  push:
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: npm publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          git config --global user.name "gandis"
          git config --global user.email "gandis0713@gmail.com"
          LATEST=`npm view . version`
          CURRENT=`cat package.json | jq -r .version`
          echo $LATEST
          echo $CURRENT
          if [ "$LATEST" != "$CURRENT" ]
          then
            yarn
            yarn build
            npm publish
          fi

