name: Release
on:
  push:
    branches:
      - master

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install dependencies
        run: yarn
      # - name: Build
      #   run: yarn build
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          git config --global user.name "gandis"
          git config --global user.email "gandis0713@gmail.com"
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc

          LATEST=`npm view . version`
          CURRENT=`cat package.json | jq -r .version`
          LATEST=`echo $LATEST | sed 's/\.//g'`
          CURRENT=`echo $CURRENT | sed 's/\.//g'`

          echo "latest version : $LATEST"
          echo "current version : $CURRENT"
          val=$(node ~/src/version.js)
          echo "node returned: $val"
          if [[ LATEST -gt CURRENT ]]; then
            echo "$LATEST > $CURRENT"
            yarn
            yarn build
            npm publish
          fi

