name: publish
on:
  push:
    branches:
      - master

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Check Version
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc

          LATEST=`npm view . version`
          CURRENT=`cat package.json | jq -r .version`

          echo "latest version : $LATEST"
          echo "current version : $CURRENT"

          minVersion=$(printf '%s\n' "$LATEST" "$CURRENT" | sort -V | head -n1)
          if [ "$minVersion" = "$CURRENT" ]; then 
            echo "publish skip"
            exit 0
          fi
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install dependencies
        run: yarn
      - name: Build
        run: yarn build
      - name: publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          git config --global user.name "gandis"
          git config --global user.email "gandis0713@gmail.com"
          echo "publish version : $CURRENT"
          npm publish